# Node.js
node_modules/

# Yarn
yarn-error.log
yarn.lock

# npm
npm-debug.log
package-lock.json

# macOS
.DS_Store

# Editor-related files
.vscode/
.idea/

# Build files
build/
dist/
out/

# Dependency directories
/.pnp/
.pnp.js

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code directories
.vscode/

# Windows
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains
.idea/

# .eslintcache
.eslintcache

# Logs
*.log

# Test coverage
coverage/

# TypeScript
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity
